body{
    background-color: brown;
    height: 100px;
    width: 780px;
}
#box1{
    background-color: red;
    height: 50px;
    width: 590px;
}
#box2{
    background-color: blue;
    height: 100px;
    width: 90px;
}